/*
    Welcome
*/
.welcome{
    padding: 5% 5%;
    background-color: #2A9D8F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.welcome-1{
    width: 60%;
    padding: 150px 0;
    max-width: 650px;
}
.welcome-1 h1{
    font-size: 50px;
}
.welcome-1 input{
    padding: 12px;
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    border: 3px solid white;
    margin: 13px 0 0 0;
    cursor: pointer;
    color: #264653;
    transition: .4s all;
    font-size: 16px;
}
.welcome-1 input:hover{
    color: #2A9D8F;
    border-color: #2A9D8F;
}
.welcome-2{
    width: 40%;
    min-width: 450px;
    transition: 1s all;
}
.welcome-2 .img{
    background-image: url(../img/placa-solar.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 450px;
    min-height: 350px;
}
@media (max-width: 1180px){
    .welcome{
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }
    .welcome-1, .welcome-2{
        width: 100%;
        min-width: 0;
    }
    .welcome-2 .img{
        min-width: 350px;
        min-height: 178px;
    }
    .welcome{
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 500px){
    .welcome-2 .img{
        min-width: 300px;
        min-height: 152px;
    }
    .welcome-1 h1{
        font-size: 35px;
    }
}
/*
    Cards de interesse
*/
.cards-interesse{
    padding: 30px 5%;
    text-align: center;
    background-color: #E9C46A;
    width: 100%;
}
.card-i{
    width: 30%;
    background-color: #264653;
    color: white;
    text-align: left;
    display: inline-block;
    padding: 30px;
    min-width: 290px;
    margin: 10px;
}
.card-i h2{
    margin-bottom: 5px;
}
.card-i p{
    margin-bottom: 10px;
}
.card-link, .card-link *{
    user-select: none;
}
.card-arrow{
    width: 35px;
    height: 35px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.card-arrow-blue{
    width: 35px;
    height: 35px;
    background-image: url(../img/arrow-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: .5s all;
    z-index: 3;
    border-radius: 100%;
    padding: 7px;
}
.card-link:hover .card-arrow-blue{
    opacity: 1;
    background-color: white;
}
@media (max-width: 500px){
    .card-i{
        margin: 15px 0;
    }
}
/*
    Artigo
*/
.artigo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 30px 5%;
    flex-wrap: wrap;
    background-color: #E9C46A;
    color: #264653;
}
.artigo-texto{
    width: 40%;
    min-width: 521px;
}
.artigo-texto h1, .artigo-texto p{
    margin-bottom: 20px;
}
.artigo-texto p:nth-child(3){
    margin-bottom: 0;
}
.artigo-imagem{
    width: 40%;
    background-color: black;
    height: 350px;
}
@media (max-width: 1100px){
    .artigo{
        flex-direction: column;
    }
    .artigo-texto{
        width: 100%;
        min-width: 0;
    }
    .artigo-imagem{
        width: 100%;
        margin-top: 30px;
    }
}
/*
    Infográfico
*/
.infografico-container{
    width: 100%;
    height: 700px;
    padding: 80px 5%;
    background-color: #F4A261;
}
.infografico{
    height: 100%;
    width: 100%;
    background-color: black;
}
/*
    Cards de vantagens
*/
.cards-vantagem{
    padding: 30px 5%;
    text-align: center;
    width: 100%;
    background-color: #E9C46A;
}
.card-v{
    width: 30%;
    text-align: left;
    min-width: 400px;
    display: inline-block;
    padding: 30px;
    background-color: #E76F51;
    margin: 10px;
    
}
.card-v #c-v-icon{
    background-image: url(../img/cifrao.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    margin-bottom: 10px;
}
@media (max-width: 500px){
    .card-v{
        width: 90%;
        min-width: 275px;
    }
}
/*
    Seção de texto com imagem
*/
.secao{
    padding: 30px 5%;
    background-color: #E9C46A;
}
.secao .article{
    margin: 90px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.secao .article p{
    width: 40%;
    min-width: 300px;
    text-align: left;
}
.secao .article-2 p{
    text-align: right;
    order: 2;
}
.secao .article-img{
    width: 500px;
    background-color: black;
    height: 300px;
}
@media (max-width: 1180px){
    .secao .article{
        display: block;
        margin: 50px auto;
        text-align: center;
    }
    .secao .article *{
        margin: 0 auto;
    }
    .secao .article p{
        margin: 10px auto;
        width: 500px;
    }
    .secao .article-2 p{
        text-align: left;
        
    }
}
@media (max-width: 650px){
    .secao .article p{
        width: 85%;
        min-width: 300px;
    }
    .secao .article-img{
        width: 100%;
        min-width: 300px;
    }
}
@media (max-width: 425px){
    .secao .article-img{
        height: 200px;
    }
}
/*
    Carrossel
*/
.carrossel{
    width: 100%;
    padding: 90px 5%;
    text-align: center;
    position: relative;
}
.slick-prev{
    position: absolute;
    top: 50%;
    left: -30px;
    font-size: 0;
    background-image: url(../img/arrow.svg);
    padding: 13px;
    border: 0;
    border-radius: 100%;
    background-color: #2A9D8F;
    cursor: pointer;
    transform: rotateY(180deg);
}
.slick-next{
    position: absolute;
    top: 50%;
    right: -30px;
    font-size: 0;
    background-image: url(../img/arrow.svg);
    padding: 13px;
    border: 0;
    border-radius: 100%;
    background-color: #2A9D8F;
    cursor: pointer;
}
.slick-dots li{
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #2A9D8F;
    outline: none;
    margin: 5px;
    border-radius: 100%;
}
.slick-dots .slick-active{
    background: #2A9D8F;
}
.slick-dots li button{
    display: none;
}
.carrossel-container{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}
.carrossel-content .c-img{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.c-img1{
    background-color: #264653;
}
.c-img2{
    background-color: #2A9D8F;
}
.c-img3{
    background-color: #E9C46A;
}
.c-img4{
    background-color: #F4A261;
}
.c-img5{
    background-color: #E76F51;
}
@media (max-width: 850px){
    .carrossel-content .c-img{
        height: 300px;
    }
}
@media (max-width: 630px){
    .carrossel{
        display: none;
    }
}
/*
    FAQ
*/
.faq{
    padding: 30px 5% 90px 5%;
    transition: .5s all;
}
.faq-titulo{
    font-weight: bold;
    font-size: 50px;
    color: #264653;
}
.faq-duvidas{
    margin: 15px 25px;
}
.faq-duvidas details{
    padding: 10px;
    border: 1px solid #264653;
    color: #264653;
    margin: 5px 0;
}
.faq-duvidas details summary{
    cursor: pointer;
    user-select: none;
}
.faq-duvidas details p{
    margin-top: 15px;
}
.faq-duvidas details{
    transition: height 1s ease;
    overflow: hidden;
}
.faq-duvidas details:not([open]){
    height: 43px;
}
@media (max-width: 500px){
    .faq-titulo{
        font-size: 35px;
    }
}
/*
    Fale conosco
*/
.contato{
    padding: 80px 5%;
    background-color: #2A9D8F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contato-texto{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.contato a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #25d366;
    margin-top: 5px;
    margin-left: 30px;
    user-select: none;
}
.contato a div{
    margin: 0 5px;
}
.contato a .whatsapp-button{
    background-image: url(../img/logo-whatsapp.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    
}
.contato a .whatsapp-texto{
    margin-bottom: 4px;
}
@media (max-width: 750px){
    .contato{
        flex-wrap: wrap;
        text-align: center;
    }
    .contato a{
        margin: 15px auto;
    }
}
@media (max-width: 500px){
    .contato-texto{
        font-size: 25px;
    }
}