/*
    Anotações:
        Paleta de cores:
            264653
            2A9D8F
            E9C46A
            F4A261
            E76F51
*/
/*
    Propriedades Gerais
*/
*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body{
    min-height: 100%;
}
body{
    overflow-x: hidden;
}
/*
    Scrollbar
*/
::-webkit-scrollbar{
    width: 12px;
    background: #E9C46A;
    opacity: 0;
}
::-webkit-scrollbar-thumb{
    background: #2A9D8F;
}
::-webkit-scrollbar-track{
    background-color: #E9C46A;
    opacity: 0;
}
/*
    Header / Cabeçalho
*/
header{
    background-color: #264653;
    padding: 0 5%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
header #logo-header{
    background-image: url(../img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 150px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 18px;
    padding: 7px;
    transition: .75s all;
    font-weight: bold;
}
header nav a:hover{
    border-radius: 5px;
    background-color: #FFFFFF15;
}
header a#selected{
    background-color: white;
    border-radius: 5px;
    color: #264653;
}
header nav #a_switch{
    padding: 8px;
    transition: all .3s;
    border-radius: 100%;
}
header nav #a_switch:hover{
    cursor: pointer;
}
header nav a #switch{
    padding: 13px;
    width: 0;
    height: 0;
}
.nav-links{
    display: block;
    transition: .8s all;
    padding: 10px;
}
#a_hamburguer{
    cursor: pointer;
}
#a_hamburguer:hover{
    background-color: transparent;
}
.hamburguer{
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamburguer .hamburguer-line{
    display: block;
    width: 40px;
    height: 3px;
    background-color: white;
    margin-block: 10px;
    border-radius: 4px;
    transition: transform .5s;
    opacity: .25s;
}
.hamburguer.active .hamburguer-line:nth-child(1){
    transform: translateY(13px)
    rotate(45deg);
}
.hamburguer.active .hamburguer-line:nth-child(2){
    opacity: 0;
}
.hamburguer.active .hamburguer-line:nth-child(3){
    transform: translateY(-13px)
    rotate(-45deg);
}
@media (max-width: 1180px){
    .hamburguer{
        display: block;
        opacity: 1;
    }
    .nav-links{
        display: none;
        z-index: 5;
        flex-direction: column;
        align-items: left;
        width: 250px;
        height: 100%;
        position: absolute;
        right: -250px;
        top: 80px;
        padding-top: 10px;
        background-color: #264653;
    }
    .nav-links a{
        margin-top: 3px;
    }
    .nav-links a:hover{
        background-color: #ffffff20;
    }
    header a#selected{
        background-color: white;
        color: #264653;
    }
}
/*
    Footer / Rodapé
*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 65px 5%;
    background-color: black;
}
.logo-rodape{
    background-image: url(../img/logo-rodape.svg);
    width: 35%;
    min-width: 400px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.nav-rodape{
    user-select: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.nav-rodape-texto{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.nav-rodape a{
    margin: 7px 13px;
    text-decoration: none;
    color: white;
    transition: color .3s;
}
.nav-rodape a:hover{
    color: #ffffff9f;
}
.contato-rodape{
    width: 30%;
    color: white;
}
.contato-rodape div{
    margin: 13px;
}
.contato-rodape > div > b{
    user-select: none;
}
.contato-rodape .contato-rodape-texto{
    user-select: none;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}
.contato-rodape div a{
    text-decoration: none;
    color: white;
    transition: color .3s;
}
.contato-rodape div a:hover{
    color: #ffffff9f;
}
.redes-rodape{
    user-select: none;
    margin-top: 5px;
}
.redes-rodape div{
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0;
}
.whatsapp{
    background-image: url(../img/logo-whatsapp.svg);
}
.redes-rodape .instagram{
    margin: 0 10px;
    background-image: url(../img/logo-instagram.svg);
}
.facebook{
    background-image: url(../img/logo-facebook.svg);
}
@media (max-width: 990px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    .logo-rodape, .nav-rodape, .contato-rodape{
        margin: 30px auto;
        width: 80%;
        min-width: 0;
    }
    .logo-rodape{
        min-width: 315px;
    }
}